<div *ngIf="!lastLeaf; else resultLeaf">
  <div class="card">
    <div class="mb-3 flex justify-content-evenly flex-wrap font">
      {{question}}
    </div>
  </div>
  <div class="card">
    <div class="mb-3 flex justify-content-evenly flex-wrap">
      <p-button label="Sim" [raised]="true"
        (onClick)="handleButtonClick('yes')"></p-button>
      <p-button label="Não" [raised]="true" (onClick)="handleButtonClick('no')"
        severity="danger"></p-button>
      <!-- <p-button label="Talvez" [raised]="true"
        (onClick)="handleButtonClick('maybe')" severity="warning"></p-button> -->
    </div>
  </div>
</div>
<ng-template #resultLeaf>
  <div class="card">
    <div class="mb-3 flex justify-content-evenly flex-wrap font">
      O resultado é: {{node}}!
    </div>
  </div>
  <div class="card">
    <div class="mb-3 flex justify-content-evenly flex-wrap">
      <p-button label="Reiniciar" [raised]="true"
        (onClick)="restartButtonClick()"></p-button>
    </div>
  </div>
</ng-template>